{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="/static/css/leaflet.css">
  <link rel="stylesheet" href="/static/css/leaflet.ie.css">
  <link rel="stylesheet" href="/static/css/cartodb-leaflet.css" type="text/css">
  <style>
    body {
      padding: 0;
      margin: 0;
    }
    html, body, #main, #map {
      height: 100%;
      width: 100%;
      background-color: #fff;
    }
    input {
	  border-color: black;
      background-color: transparent;
      border-width: 0px 0px 2px 0px; 
      height: 30px;
	  padding: 3px;
      font-size: 22px;
    }
    #search {
      font-size: 22px;
    }
  </style>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="/static/js/leaflet.js"></script>
  <script type="text/javascript" src="/static/js/wax.leaflet.min.js"></script>
  <script type="text/javascript" src="/static/cartodb-leaflet/cartodb-leaflet.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    {% raw %}
    $("#search_input").keyup(function() {
      cartodb_leaflet.update({'query':"SELECT cartodb_id, the_geom_webmercator, aka_name FROM {{table_name}} WHERE aka_name ILIKE '%" + $(this).val() + "%'"});
    });
    var map = new L.Map('map');
    var mapCenter = new L.LatLng(41.875185,-87.630043);
    var mapZoom = 11;
    var cloudmadeUrl = 'http://{s}.tile.stamen.com/watercolor/{z}/{x}/{y}.jpg',
      cloudmadeAttrib = 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, ' +
        'under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. ' +
        'Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, ' +
        'under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.',
    cloudmade = new L.TileLayer(cloudmadeUrl, {attribution: cloudmadeAttrib, maxZoom:18});
    map.addLayer(cloudmade);
    map.setView(mapCenter, mapZoom);
    var cartodb_leaflet = new L.CartoDBLayer({
      show_cartodb_logo: false,
      map_canvas: 'map',
      map: map,
      user_name:'boundsj',
      table_name: 'food_inspections',
      query: "SELECT cartodb_id, the_geom_webmercator, aka_name FROM {{table_name}}",
      tile_style: "#{{table_name}} {" + 
                     "marker-fill:#FF6600;" + 
                     "marker-line-color:white;" +
                     "marker-line-width:3;" + 
                     "marker-opacity:1;" + 
                     "marker-line-opacity:1;" + 
                     "marker-placement:point;" + 
                     "marker-type:ellipse;" +
                     "marker-allow-overlap:true;" + 
                  "}",
      infowindow: "SELECT cartodb_id, the_geom_webmercator, aka_name as Name, address as Address, " +
         "facility_type as Type, " +
         "violations as Violations, results " +
         "FROM {{table_name}} WHERE cartodb_id={{feature}}",
      auto_bound: false 
    });
    {% endraw %}
  });
</script>
{% endblock %}

{% block main %}
  <div id="map"></div>
    <a href="http://rebounds.net"><script src="http://boundsj.github.com/cfa_banner/banner.js?type=corner-right&forkUrl=https://github.com/codeforamerica/deepdish" id="cfa_banner_script"></script></a>
    <div style="position:absolute; right:65px; top:10px;">
      <h2>deepdish</h2>
      <div id="search">search for:<input id="search_input" type="text" name="search" /></div>
    </div>
{% endblock %}
